<body>
  <div id="join-login" class="modal modal-join-login hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="tab-content">
      <div id="join" class="tab-pane active">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="_gaq.push(['_trackEvent', 'Modals', 'Closed', 'Join']);">×</button>
              <h4 id="myModalLabel">Join 5 million IT pros like you.</h4>
          </div>
          <div class="modal-body">
              <form accept-charset="UTF-8" action="http://community.spiceworks.com/join/register" class="form-horizontal register-form" data-remote-json="true" id="new_registration" method="post" target="_parent">
          <input name="utf8" value="✓" type="hidden">
          <input name="registration[terms]" value="1" type="hidden">
          
                      <input id="registration_referer" name="registration[referer]" value="http://www.spiceworks.com/" type="hidden">
                      
          <div class="sui-alert no-controls generic-error"></div>
          
          <div class="control-group">
            <label class="control-label" for="registration_first_name">First Name</label>
            <div class="controls">
              <input id="registration_first_name" name="registration[first_name]" size="30" required="" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="registration_last_name">Last Name</label>
            <div class="controls">
              <input id="registration_last_name" name="registration[last_name]" size="30" required="" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="registration_email">Email</label>
            <div class="controls">
              <input id="registration_email" name="registration[email]" size="30" required="" type="email">
            </div>
          </div>
          <div class="control-group">
              <div class="controls">
              <button class="btn btn-blue" data-button-type="submit" data-primary="true" type="submit" onclick="_gaq.push(['_trackEvent', 'Buttons', 'Clicked', 'Join Now']);">Join Now</button>
            </div>
          </div>
        </form>

          </div>
          <div class="modal-footer">
              Already have an account?  <a href="#login" class="iframe join_community btn-join-community" role="button" data-toggle="tab" onclick="_gaq.push(['_trackEvent', 'Buttons', 'Clicked', 'Log In from Join']);">Sign In</a>      	
          </div>
          <div class="modal-footer">
        <strong>Are you a tech marketer?</strong> <a href="http://www.spiceworks.com/marketing/" onclick="_gaq.push(['_trackEvent', 'Buttons', 'Clicked', 'Join - Marketer Link']);">Join Here</a>
          </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>
  <script src="node.js"></script>
  <script src="count_descendents.js"></script>
</body>
